
@{
    ViewBag.Title = "AngularComponents";
}

<h2>AngularComponents</h2>

<div class="row">
    <div class="col-md-4">
        <div ng-controller="myController">

            <div>
                <b>X: </b> <input class="form-control" type="number" ng-model="x" />
            </div>
            <div>
                <b>Y: </b> <input class="form-control" type="number" ng-model="y" />
            </div>

            <button class="btn btn-default" ng-click="sum()">Result</button>

            <div>
                <b>Result: </b> {{res}}
            </div>

        </div>
    </div>
</div>



<script src="~/Scripts/App/angularComponents.js"></script>
